/**
 * src/css/components/_nav.scss
 *
 * @author Johannes Braun <hannenz@posteo.de>>
 * @package podsblitz
 * @version 2022-10-06
 */
.brand {
	color: #fff;
	text-decoration: none;
	.icon {
		width: 2rem;
		height: 2rem;
		vertical-align: middle;
	}
}

.nav {
	margin-left: auto;
	display: flex;
	gap: 2rem;
	align-items: center;

	a {
		color: #fff;
		text-decoration: none;
	}

}

