.main-footer {
	background: var(--primary-color);
	// padding: calc(3 * var(--gutter)) var(--gutter);
	padding: 10px;
	@include full-width;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;

	#player {
		display: block;
		background-color: transparent;
	}
}

