/**
 * src/css/components/header.scss
 *
 * @author Johannes Braun <hannenz@posteo.de>>
 * @package podsblitz
 * @version 2022-10-06
 */
@use 'sass:color';

.main-header {
	margin-top: 0;
	@include full-width;
	position: sticky;
	top: 0;
	display: flex;
	align-items: center;
	padding: 1rem;

	background: linear-gradient(45deg, $primary-color, color.adjust($primary-color, $lightness: -10%));
	border: 1px solid darkturquoise;
	box-shadow: 0px 0px 5px rgba(30, 30, 30, 0.3);

	z-index: 1;
}

