<form action="" name="import_opml" method="post" enctype="multipart/form-data">
	<label for="file">OPML-Datei</label>
	<input type="file" name="file" id="file">
	<input type="submit" value="importieren">
	<input type="hidden" name="action" value="importOPML" />
</form>
