{IF({VAR:success})}
	<div>Podcast &bdquo;{VAR:subscription_title}&rdquo; wurde erfolgreich aktualisiert</div>
{ELSE}	
	<div>Beim aktualisieren des Podcasts &bdquo;{VAR:subscription_title}&rdquo; wurde erfolgreich aktualisiert</div>
{ENDIF}
<p><a href="/de/Subscriptions/view/{VAR:id}">Zurück</a></p>
