/**
 * src/css/components/_menu.scss
 *
 * @author Johannes Braun <j.braun@agentur-halma.de>
 * @package uws
 * @version 2022-08-30
 *
 * Styleguide Menu
 */
@use '../shapes/lib/rwd' as *;

// Menu: A menu structure marked up as a unordered list containing links
//
// Markup:
// <ul class="menu $modifierClass">
// 	<li class="menu__item">
// 		<a class="menu__link" href="#">Menu Item 1</a>
// 	</li>
// 	<li class="menu__item">
// 		<details>
// 			<summary class="menu__link">Menu Item 2</summary>
// 			<ul class="menu menu--submenu">
// 				<li class="menu__item">
// 					<a class="menu__link" href="#">Submenu Item 2.1</a>
// 				</li>
// 				<li class="menu__item">
// 					<a class="menu__link" href="#">Submenu Item 2.2</a>
// 				</li>
// 			</ul>
// 		</details>
// 	</li>
// 	<li class="menu__item">
// 		<details>
// 			<summary class="menu__link">Menu Item 3</summary>
// 			<ul class="menu menu--submenu">
// 				<li class="menu__item">
// 					<a class="menu__link" href="#">Submenu Item 3.1</a>
// 				</li>
// 				<li class="menu__item">
// 					<a class="menu__link" href="#">Submenu Item 3.2</a>
// 				</li>
// 				<li class="menu__item">
// 					<a class="menu__link" href="#">Submenu Item 3.3</a>
// 				</li>
// 			</ul>
// 		</details>
//	</li>
// </ul>
//
//
// .menu--vertical 		- Vertical menu
//
// Styleguide Navigation - Menu
.menu {
	display: flex;
	flex-direction: row;
	align-items: center;
	// align-items: flex-start;
	gap: var(--vertical-unit);
	padding: var(--vertical-unit) var(--gutter);
	list-style: none;

	&--vertical {
		flex-direction: column;
		align-items: flex-start;
	}

	&__item {
		position: relative;

		&--current .menu__link {
			&::after {
				content: '';
				position: absolute;
				bottom: -10px;
				left: 0;
				width: 100%;
				background-color: var(--white);
				height: 3px;
				border-radius: 9999px;
			}
			// text-decoration: underline;
		}
	}

	&__link {
		width: max-content;
		white-space: nowrap;
		text-decoration: none;
		color: var(--primary-color);
		font-weight: bold;
		display: block;
		cursor: pointer;

	}

	.menu--submenu {
		flex-direction: column;

		.menu__link {
			color: var(--color-text);
			font-weight: 400;
		}
	}

	details summary {
		position: relative;
		padding-left: 1em;
		&::before {
			content: '▶';
			vertical-align: baseline;
			position: absolute;
			left: 0;
			font-size: 0.8125em;
			transition: var(--default-transition);
		}
	}

	details[open] {
		summary::before {
			transform: rotate(90deg);
		}
	}
}


@include for-size(desktop-up) {
	.menu {
		&:not(.menu--vertical):not(.menu--submenu) {
			flex-direction: row;
			gap: calc(4 * var(--gutter));
		}
		padding: 0;

		&__link {
			padding: 1rem 0rem;
		}

		.menu--submenu {
			position: absolute;
			// transform-origin: top left;
			// transform: scale(0);
			background-color: #fff;
			gap: calc(0.5 * var(--gutter));
			gap: 0;
			align-items: stretch;
			// transform: scale(0);
			// transform-origin: top left;
			// transition: var(--default-transition);
			box-shadow: 1px 1px 14px rgba(0, 0, 0, 0.05);
			border: 1px solid rgba(0, 0, 0, 0.1);
			border-top: 4px solid var(--primary-color);

			.menu__link {
				padding-left: var(--gutter);
				padding-right: var(--gutter);
				padding-top: calc(0.5 * var(--vertical-unit));
				padding-bottom: calc(0.5 * var(--vertical-unit));
				transition: var(--default-transition);
				width: 100%;

				&:hover {
					background-color: var(--light-grey);
				}
			}
		}

		details summary {
			padding-left: 0;
			&::before {
				display: none;
			}
		}

	}

	.menu.menu--main-navigation {
		position: static;
		transform: none;
		overflow-y: visible;
	}

	// .menu--main-navigation .menu__item:nth-child(4) .menu--submenu {
	// 	transform: scale(1);
	// }

	.menu--submenu {
		flex-direction: column;
	}
}
