/**
 * src/css/components/badge.scss
 *
 * @author Johannes Braun <hannenz@posteo.de>>
 * @package podsblitz
 * @version 2022-10-07
 */
.badge {
	--badge-color: var(--primary-color);
	display: inline-block;
	border-radius: 50%;
	width: var(--vertical-unit);
	height: var(--vertical-unit);
	background-color: var(--badge-color);
	color: var(--white);
	vertical-align: middle;
}


