/**
 * src/css/components/brand.scss
 *
 * @author Johannes Braun <hannenz@posteo.de>>
 * @package podsblitz
 * @version 2022-10-07
 */
@use '../shapes/lib/type-setting' as *;
.brand {
	display: flex;
	align-items: center;
	gap: 1cap;
	@include type-setting(600);

	.icon {
		width: 1em;
		height: 1em;
	}
}
