/**
 * src/css/components/button.scss
 *
 * @author Johannes Braun <j.braun@agentur-halma.de>
 * @package uws
 * @version 2022-09-23
 *
 * Styleguide User Interface
 */
@use "../settings" as *;
@use "shapes/lib/button" as *;
@use "shapes/lib/type-setting" as *;
@use "shapes/lib/rwd" as *;
@use "sass:color";


// Buttons in different variants. The `button` class can either be applied to a
// `<a.button>`,`<button.button>` element, or for use in Content-o-mat
// Layoutmode on a wrapper `<div.button><a href="#">Linktext</a></div>`
//
// Markup:
// <a class="button $modifierClass" href="javascript:void(0)">Hier klicken</a>
//
// .button							- Default button
// :hover 							- Hover style
// :focus							- Focus style
// .button--primary					- Primary button for important actions
// .button--primary:hover			- Primary button for important actions
// .button--primary:focus			- Primary button for important actions
// .button--inverted 				- Button with inverted colors for use on dark/primary-color backgrounds
// .button--inverted:hover 			- Button with inverted colors for use on dark/primary-color backgrounds
// .button--inverted:focus 			- Button with inverted colors for use on dark/primary-color backgrounds
// .button--primary-inverted 		- A primary button for use on dark/primary-color backgrounds
// .button--primary-inverted:hover 	- A primary button for use on dark/primary-color backgrounds
// .button--primary-inverted:focus 	- A primary button for use on dark/primary-color backgrounds
//
// Styleguide User Interface - Button
div.button > a,
button.button,
a.button {

	--btn-color: inherit;
	--btn-bg-color: transparent;

	--btn-hover-color: var(--text-color);
	--btn-hover-bg-color: var(--light-grey);

	--btn-focus-color: var(--black);
	
	@include button-reset;

	display: inline-block;
	background-color: var(--btn-bg-color);
	font-weight: bold;
	color: var(--btn-color);
	outline: none;
	text-decoration: none;
	text-align: center;
	border: none;

	padding: calc(0.5 * var(--vertical-unit)) 1rem;
	@include for-size(desktop-up) {
		padding: calc(0.5 * var(--vertical-unit)) 1.5rem;
	}

	&:hover,
	&.pseudo-class-hover {
		background-color: var(--btn-hover-bg-color);
		color: var(--btn-hover-color);
		border-color: currentColor;
	}

	&:focus,
	&.pseudo-class-focus {
		@include focus-style;
	}

	&:active {
		padding-left: 1.4rem;
		padding-right: 1.4rem;
		margin-left: 0.1rem;
		margin-right: 0.1rem;
	}
}


div.button--primary > a,
button.button--primary,
a.button--primary {
	--btn-color: var(--white);
	--btn-hover-color: var(--primary-color);
	--btn-bg-color: var(--primary-color);
	--btn-hover-bg-color: #{color.adjust($color: $white, $blackness: 10%)};
	--btn-focus-color: var(--primary-color);
}

div.button--inverted > a,
button.button--inverted,
a.button--inverted {
	--btn-color: var(--white);
	--btn-bg-color: var(--text-color);
	--btn-hover-bg-color: var(--white);
	--btn-hover-color: var(--text-color);
	--btn-focus-color: var(--black);
}

div.button--primary-inverted > a,
button.button--primary-inverted,
a.button--primary-inverted {
	--btn-bg-color: var(--white);
	--btn-color: var(--primary-color);
	--btn-hover-bg-color: var(--primary-color);
	--btn-hover-color: var(--white);
	--btn-focus-color: var(--primary-color);
}



// Icon Button: A Button with an icon
//
// Markup:
// <a class="button button--with-icon $modifierClass" href="#">
//     <span class="button__label">Some text</span>
//     <span class="button__icon">
// 	    	<svg class="icon" viewBox="0 0 100 100"><use href="#download"></use></svg>
//     </span>
// </a>
//
// .button--with-icon 		- A button with an icon
// :hover					- Hover style
// :focus					- Focus style
// .button-with-icon.button--primary
// .button-with-icon.button--primary:hover
// .button-with-icon.button--primary:focus
//
// Styleguide User Interface - IconButton

.button.button--with-icon {
	display: inline-flex;
	align-items: center;
	gap: 0.5em;
	// width: fit-content;

	.icon {
		flex: 0 0 2em;
		width: 2em;
		height: 100%;
		aspect-ratio: 1/1;
		transition: var(--default-transition);
	}

	&:hover,
	&.pseudo-class-hover {
		.icon {
			transform: translateX(0.5em);
		}
	}
}




// Menu trigger ("Hamburger")
//
// Markup:
// <button class="button button--menu-trigger $modifierClass">
// 	<svg class="icon" viewBox="0 0 100 100">
// 	<use href="#menu"></use>
// 	<use href="#cross"></use>
// </svg>
// </button>
//
// .is-triggered 			- Triggered state ("Menu is open");
//
// Styleguide User Interface - Buttons - Menu Trigger

.button.button--menu-trigger {
	background: transparent;
	border: none;
	width: min-content;
	height: min-content;
	aspect-ratio: 1 / 1;
	color: var(--primary-color);
	padding: 0;
	position: relative;
	width: 40px;
	height: 40px;

	&:hover {
		background: transparent;
		border: none;
		color: var(--primary-color);
	}

	&:focus {
		border: none;
		box-shadow: none;
		outline: none;
	}

	svg {
		transform: scale(1.6);
	}

	// > svg {
	// 	position: absolute;
	// 	top: 0;
	// 	left: 0;
	// }
    //
	transition: var(--default-transition);
	
	use[href="#menu"] { visibility: visible; }
	use[href="#cross"] { visibility: hidden; }


	&.is-triggered {
		use[href="#menu"] { visibility: hidden; }
		use[href="#cross"] { visibility: visible; }
	}

}



// Social Media Button, TODO: Move somewhere else, this is NOT a button!
//
// Markup:
// <a class="social-media-link" href="#">
// 	<svg width="100" height="100" viewBox="0 0 100 100"><circle cx="50" cy="50" r="33.6" stroke-width="2.8"/><path 487" d="M66.288 41.757a4.307 4.307 0 00-3-3.1C60.632 38 50 38 50 38s-10.633 0-13.291.714a4.307 4.307 0 00-3 3.1A45.218 45.218 0 0033 50.031a45.218 45.218 0 00.711 8.274 4.306 4.306 0 003 2.981C39.367 62 50 62 50 62s10.632 0 13.29-.714a4.307 4.307 0 003-3.1 45.218 45.218 0 00.71-8.155 45.219 45.219 0 00-.711-8.274z" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.8"/><path 488" d="M46.511 55.097l8.908-5.066-8.908-5.066z" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.8"/></svg>
// 	</a>
//
// 	Styleguide User Interface - Social Media Button

.social-media-link {
	display: block;
	aspect-ratio: 1 / 1;
	padding: 0;
	margin: 0;
	border: none;
	width: fit-content;

	svg {
		width: 100%;
		height: 100%;
		stroke: currentColor;
		stroke-width: 2.6px;
		fill: none;

		circle {
			transition: 50ms ease-out;
		}
	}

	&:hover {
		svg {
			color: var(--primary-color);
		}
		circle {
			fill: #fff;
			stroke: #fff;
		}
	}

	&:active {
		transform: scale(0.95);
	}
}


