/**
 * src/css/components/card.scss
 *
 * @author Johannes Braun <hannenz@posteo.de>>
 * @package podsblitz
 * @version 2022-10-07
 */
.card {
	max-width: 40rem;
	padding: 1rem;

	display: grid;
	grid-template-columns: 150px 1fr;
	grid-template-rows: 1fr calc(2 * var(--vertical-unit));
	gap: var(--gutter);
	border: 1px solid var(--light-grey);
	border-radius: 3px;
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
	
	&__image {
		grid-column: 1 / 2;
		grid-row: 1 / -1;
		img {
			width: 100%;
			aspect-ratio: 1 / 1;
			object-fit: cover;
			border: 1px solid var(--light-grey);
		}
	}

	&__meta {
		grid-column: 1 / 2;
		grid-row: 2 / 3;
	}

	&__body {
		grid-column: 2 / 3;
		grid-row: 1 / 3;
	}

	.stack {
		--stack-spacing: 10px;
	}

	&__subtitle {
		color: var(--secondary-color);
	}

	&__action-area {
		grid-column: 2 / 3;
		grid-row: 2 / 3;
		align-self: flex-end;

		display: flex;
		justify-content: flex-end;
		gap: 1em;
	}
}

.episode-teaser--completed {
	opacity: 0.5;
}
