/**
 * src/css/components/cmt-layoutmode.scss
 *
 * @author Johannes Braun <j.braun@agentur-halma.de>
 * @package uws
 * @version 2022-09-06
 */
.cmt-layout {
	.main-content > div {
		min-height: 100px;
		outline: 2px dashed magenta;
	}
}
