/**
 * src/css/components/dropdown.scss
 *
 * @author Johannes Braun <hannenz@posteo.de>>
 * @package podsblitz
 * @version 2022-10-07
 */
.dropdown {
	position: relative;

	summary + .menu {
		position: absolute;
		top: 100%;
		left: 0;
		transform: scale(0);
		transform-origin: top left;
		transition: 150ms ease-out;
		background-color: var(--white);
	}

	&[open] summary + .menu {
		transform: scale(1);
		border: 1px solid var(--light-grey);
		box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
	}
}
