/**
 * src/css/components/episode.scss
 *
 * @author Johannes Braun <j.braun@agentur-halma.de>
 * @package podsblitz
 * @version 2022-10-10
 */
.episode-panel {
	padding: 1rem;
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 5px;
}
