/**
 * src/css/components/footer.scss
 *
 * @author Johannes Braun <hannenz@posteo.de>>
 * @package podsblitz
 * @version 2022-10-07
 */
.main-footer {
	background: var(--secondary-color);
	// padding: calc(3 * var(--gutter)) var(--gutter);
	padding: 10px;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
}

