/**
 * src/css/components/header.scss
 *
 * @author Johannes Braun <hannenz@posteo.de>>
 * @package podsblitz
 * @version 2022-10-06
 */
@use 'sass:color';
@use '../settings' as *;

.main-header {
	margin-top: 0;
	position: fixed;
	top: 0;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-left: var(--gutter);
	padding-right: var(--gutter);
	height: var(--header-height);

	background: linear-gradient(45deg, $secondary-color, color.adjust($secondary-color, $lightness: -10%));
	box-shadow: 0px 0px 5px rgba(30, 30, 30, 0.3);

	z-index: 1;

	a {
		color: var(--white);
	}
}

