/**
 * src/css/components/player.scss
 *
 * @author Johannes Braun <hannenz@posteo.de>>
 * @package 
 * @version 2022-10-07
 */
.player {
	color: var(--white);

	display: grid;
	grid-template-columns: repeat(12, 1fr);
	gap: 10px;

	.player__btn {
		background: transparent;
		color: var(--white);
		border: none;
		cursor: pointer;
	}

	.player__btn--play {
		background: var(--white);
		color: var(--primary-color);
		font-size: 1.5em;
		border-radius: 50%;
		aspect-ratio: 1 / 1;
		padding: 0.5em;
		text-align: center;
	}

	.btn-group {
		display: flex;
		gap: 0.5em;
	}

	input[type=radio] {
		display: none;
	}

	input[type=radio] + label {
		width: 3rem;
		text-align: center;
		border: 1px solid var(--white);
		cursor: pointer;
	}

	input[type=radio]:checked + label {
		background: var(--white);
		color: var(--primary-color);
	}

	.player__controls--play {
		grid-column: 1 / 4;
		grid-row: 1 / 2;
	}

	.player__controls--rate {
		grid-column: 1 / 4;
		grid-row: 2 / 3;
	}

	.player__current-title {
		grid-column: 4 / -1;
	}

	.player__current-time {
		grid-column: 4 / -1;
	}
}

