@mixin icon($stroke: none, $vertical-align: -0.01em, $space: 0.5em) {
	display: inline-block;

	height: 1.5em;
	width: 1.5em;
    //
	// /* ↓ Override the em value with `1cap`  where `cap` is supported */  
	// height: 2cap;
	// width: 2cap;

	overflow: visible;
	vertical-align: $vertical-align;
	
	overflow: visible;

	fill: none;
	stroke: $stroke;
	stroke-width: 4px;

	// path, rect, circle {
	// 	fill: none;
	// 	stroke: $stroke;
	// }
}

@mixin with-icon($space: 0.5em) {
	/* ↓ Set the `inline-flex` context,  which eliminates the word space */
	display: inline-flex;
	align-items: center;
	gap: var(--space, #{$space});
}
