/**
 * src/css/partials/common.scss
 *
 * @author Johannes Braun <me@hannenz.de>
 * @package podsblitz
 * @version 2022-10-09
 */

*, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body, html {
	min-height: 100%;
}

body {
	font-family: sans;
	color: var(--text-color);
}

ul {
	list-style: none;
}

@mixin visually-hidden {
	clip-path: inset(100%);
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

.visually-hidden {
	@include visually-hidden;
}

img, video {
	max-width: 100%;
	height: auto;
}

summary {
	cursor: pointer;
}

a, button, summary {
	display: inline-flex;
	align-items: center;
	gap: 0.25em;
}

button {
	padding: 0.25em 0.5em;
}
