/**
 * src/css/partials/form.scss
 *
 * @author Johannes Braun <hannenz@posteo.de>>
 * @package podsblitz
 * @version 2022-10-07
 */
label { display: block; }
.error-message { background: #c00000; color: #fff; font-weight: bold; max-width: 20rem; }
.form-field { padding: 0.5rem; display: flex; flex-direction: column; }
.form-field + .form-field { margin-top: 0.5rem; }
.form-field .error-messages { order: 3; }
.form-field--invalid { border: 2px solid #c00000; }
fieldset { padding: 1rem; }
input { padding: 0.5rem; }

