/**
 * src/css/partials/layout.scss
 *
 * @author Johannes Braun <j.braun@agentur-halma.de>
 * @package uws
 * @version 2022-08-30
 */
@use '../shapes/lib/rwd' as *;

.cmt-layout {
	.main-content {
		display: block !important;
	}
}

.inner-bound, .outer-bound {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

.outer-bound {
	max-width: var(--outer-bound-width);
}

// .inner-bound {
// 	max-width: var(--inner-bound-width);
// }

@mixin grid {
	display: grid;
	gap: var(--gutter);
	grid-template-columns: repeat(4, 1fr);
	@include for-size(tablet-landscape-up) {
		grid-template-columns: repeat(12, 1fr);
	}
}

html {
	height: 100%;
	max-width: 100vw;
}

body {
	display: flex;
	flex-direction: column;
	height: 100%;
	max-width: 100vw;
	margin-top: calc(var(--header-height) + var(--vertical-unit));
}

.cmt-layout .element {
	max-width: var(--outer-bound-width);
	margin: 0 auto;
	padding: 0 var(--gutter);
	@include grid;
}

.main-content {
	max-width: var(--outer-bound-width);
	width: 100%;
	margin: 0 auto;
	padding: 0 var(--gutter);
	scroll-margin-top: var(--header-height);
	padding-bottom: 200px !important;
}
