/**
 * src/css/paartials/typography.scss
 *
 * @author Johannes Braun <j.braun@agentur-halma.de>
 * @package uws
 * @version 2022-09-15
 *
 * Styleguide Typography
 */
@use "shapes/lib/type-setting" as *;
@use "shapes/lib/rwd" as *;

$fonts: (
	100: '/dist/fonts/OnestThin1602-hint.woff',
	300: '/dist/fonts/OnestLight1602-hint.woff',
	400: '/dist/fonts/OnestRegular1602-hint.woff',
	600: '/dist/fonts/OnestMedium1602-hint.woff',
	700: '/dist/fonts/OnestBold1602-hint.woff',
	800: '/dist/fonts/OnestExtraBold1602-hint.woff',
	900: '/dist/fonts/OnestBlack1602-hint.woff',
);

@each $weight, $url in $fonts {
	@font-face {
		font-family: 'Onest';
		src: url($url) format('woff');
		font-weight: $weight;
		font-style: normal;
	}
}

html {
	font-size: 16px;
	@include for-size(tablet-landscape-up) {
		font-size: 18px;
	
	}
	@include for-size(desktop-up) {
		font-size: 20px;
	}
}

body {
	font-family: var(--font-sans);
	font-weight: 300;
	color: var(--text-color);
	
	@include type-setting(400);
}

p:not(:first-child) {
	margin: var(--vertical-unit) 0;
}

// Typography: Fonts and Type Scale
// --------------------------------
//
// Markup:
// <div class="text $modifierClass">
// Do laborum laboris adipisicing et ipsum ex ex reprehenderit proident,
// consectetur in dolore mollit dolore officia eiusmod esse exercitation Lorem
// exercitation tempor ex sed sed commodo Lorem magna sed ipsum deserunt eu
// dolore in aliqua Lorem exercitation amet sunt
// sed.
// </div>
//
// .text--size-100			- Text in size 100
// .text--size-200			- Text in size 200
// .text--size-300			- Text in size 300
// .text--size-400			- Text in size 400 (default size)
// .text--size-500			- Text in size 500
// .text--size-600			- Text in size 600
// .text--size-700			- Text in size 700
// .text--size-800			- Text in size 800
// .text--size-900			- Text in size 900
//
// Styleguide Typography - Common

$i: 100;
@while  $i < 1000 {
	.text--size-#{$i} {
		@include type-setting($i);
	}

	$i: $i + 100;
}

// Headline variants. Text in &lt;i&gt; Tags will be redered in serif font
//
// Markup:
// <h1 class="headline $modifierClass">Duis velit <i>magna ad ipsum</i> sed</h1>
//
// .headline		 - Default headline
// .headline--small	 - A small headline
// .headline--large	 - A large headline
//
// Styleguide Typography - Headlines

.headline {
	font-weight: 800;
	@include type-setting(700);

	&--small {
		@include type-setting(600);
	}

	&--large {
		@include type-setting(900);
	}
}

// Body text
//
// Markup:
// <div class="body-text $modifierClass"><p>Fugiat in do sit occaecat ipsum ut incididunt dolor
// irure ipsum Lorem culpa nostrud Excepteur dolor sed dolore consequat elit
// laborum tempor dolor cillum ipsum amet adipisicing cillum proident Duis culpa
// reprehenderit reprehenderit Ut veniam enim mollit et dolor qui.</p></div>
//
// .body-text--small 	- small body text
// .body-text--large	- large body text
//
// Styleguide Typography - BodyText
.body-text {
	font-weight: normal;
	@include type-setting(400);
	max-width: 40em;

	&--small {
		@include type-setting(300);
	}

	&--large {
		@include type-setting(500);
	}
}

i {
	font-family: var(--font-serif);
	font-weight: 400;
	font-style: italic;
	font-size: 1.15em;
}

a, a:hover, a:active, a:focus, a:visited {
	color: var(--primary-color);
	text-decoration: none;
}

// Text link
//
// Markup: 
// <div class="body-text">In eu elit <a href="#">dolore officia</a>, sunt fugiat
// anim amet eu.</div>
//
// Styleguide Typography - Text Link

@mixin text-link-effect {
	font-weight: bold;
	display: inline-block;
	position: relative;
	&::after {
		content: '';
		position: absolute;
		left: 0;
		bottom: 0;
		height: 2px;
		width: 100%;
		background-size: 202%;
		background-image: linear-gradient(to right, currentColor 0, currentColor 50%, transparent 50%);
		background-position: 99% 0;
		transition: 100ms ease-out;
	}

	&:hover::after,
	&:focus::after {
		background-position: 0 0;
	}

	&:active::after {
		background-position: 0 0;
		transform: scale(0.75, 1);
	}
}

.body-text, .main-footer__nav {
	a {
		font-family: var(--font-serif);
		font-style: italic;
		@include text-link-effect;
	}
}

a .icon {
	vertical-align: baseline;
	width: 1em;
	height: 1em;
}
