/**
 * partials/_common.scss
 *
 * Common styles, like e.g. resets, basic styles...
 */
html {
	height: 100%;
}

body {
	background-color: var(--background-color);
	color: var(--text-color);
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
	height: 100%;
}

.main-content {
	// flex: 1;
}

[data-after]::after {
	content: attr(data-after);
}

[data-before]::before {
	content: attr(data-before);
}


img {
	max-width: 100%;
}

.skip-link {
	position: absolute;
	left: -999rem;
	height: 0;
	visibility: hidden;
}



///////////////////
//  Focus Pokus  //
///////////////////
:focus {
	outline: 1px solid $primary-color;
}

:focus:not(:focus-visible) {
	outline: none;
}

:focus-visible {
	// extend if needed
}



.button {
	@include button($button-border-width: 0px);
}

.pill {
	border-radius: 9999px;
}

.sr-only {
	@include sr-only(false);
}

.outer-bound {
	@include bound(var(--outer-bound-width));
}

.inner-bound {
	@include bound(var(--inner-bound-width));
}

.full-width {
	@include full-width;
}

.icon {
	@include icon;
}

.cluster {
	@include cluster;
}



.main-content {
	width: 600px;
	margin: auto;
	padding: 32px 0;
	border-radius: 10px;
}

.main-content > * + * {
	margin-top: 1.35rem;
}

.main-content > h1 {
	border-bottom: 1px solid rgba(100, 100, 100, 0.1);
	padding-bottom: 20px;
}

.main-content > * {
	padding: 0 32px;
}

