/**
 * src/css/partials/_typography.scss
 *
 * Typography related styles
 *
 */


/************
 * Webfonts *
 ************/

// Woff2 is preferered and - if available - the only format needed.
// Use a font-face include line for each font face (regular, bold, italic, bold-italic, like shown below

/**
 * @example
 *
 * @include font-face('FontName', '../fonts/FontName-Regular', normal, normal, $file-types: woff2);
 * @include font-face('FontName', '../fonts/FontName-Bold', bold, normal, $file-types: woff2);
 * @include font-face('FontName', '../fonts/FontName-Italic', normal, italic, $file-types: woff2);
 */

@font-face {
	font-family: 'Onest';
	src: url('/dist/fonts/OnestRegular1602-hint.woff') format('woff2');
	font-style: normal;
	font-weight: normal;
}

html {
	// @include fluid-type(font-size, $tablet-portrait-breakpoint, $desktop-breakpoint, 11px, 22px);
}

body {
	// Sets up font-size and line-height
	// according to vertical rhythm.
	// @see mixins in mixins/_vertical_rhythm.scss
	font-family: Onest, sans-serif;
	@include type-setting(0);
	color: var(--text-color);
}

.headline {
	@include type-setting(2);
	font-weight: bold;

	&--big {
		@include type-setting(3);
	}

	&--small {
		@include type-setting(1);
	}
}
