/**
 * src/css/_colors.scss
 *
 * Palette from
 * @see https://coolors.co/palette/f94144-f3722c-f8961e-f9c74f-90be6d-43aa8b-577590
 *
 * @author Johannes Braun <hannenz@posteo.de>>
 * @package podsblitz
 * @version 2022-10-09
 */

// Palette
$red-salsa: #f94144;
$orange-red: #f3722c;
$yellow-orange-color-wheel: #f8961e;
$maize-crayola: #f9c74f;
$pistachio: #90be6d;
$jungle-green: #43aa8b;
$queen-blue: #577590;

// Deprecated
$purple: purple;
$turquoise: turquoise;

// Other colors
$black: #000000;
$white: #ffffff;
$grey: #919191;
$light-grey: #F4F4F4;
$text-color: #404040;

$primary-color: $red-salsa;
$secondary-color: $queen-blue;


:root {
	--red-salsa: #f94144;
	--orange-red: #f3722c;
	--yellow-orange-color-wheel: #f8961e;
	--maize-crayola: #f9c74f;
	--pistachio: #90be6d;
	--jungle-green: #43aa8b;
	--queen-blue: #577590;

	--purple: #{$purple};
	--turquoise: #{$turquoise};
	--black: #{$black};
	--white: #{$white};
	--grey: #{$grey};
	--light-grey: #{$light-grey};
	--text-color: #{$text-color};

	--primary-color: #{$primary-color};
	--secondary-color: #{$secondary-color};
}
