/**
 * src/css/_settings.scss
 *
 * @author Johannes Braun <j.braun@agentur-halma.de>
 * @package uws
 * @version 2022-08-30
 */
@import "colors";

$use-type-scale: true;
$vertical-unit: 1.25rem;
$modular-scale-ratio: 1.2;
$font-sizes: (
	100: 0.3,
	200: 0.5,
	300: 0.75,
	400: 1,
	500: 1.5,
	600: 2,
	700: 2.7,
	800: 4.6,
	900: 6
);

$breakpoints: (
	phone: 320px,
	tablet-portrait: 600px,
	tablet-landscape: 900px,
	desktop: 1200px,
	desktop-big: 1800px,
	desktop-huge: 2400px 
);

:root {
	--gutter: 0.75rem;

	--vertical-unit: #{$vertical-unit};
	--outer-bound-width: 68rem;
	--inner-bound-width: 50rem;

	--stack-spacing: var(--vertical-unit);

	--font-sans: Onest, sans;

	--default-transition: 100ms ease-out;

	--main-menu-top-offset: calc(var(--header-top-bar-height) + var(--header-main-bar-height));
	--header-height: 92px;
}

@mixin focus-style {
	// box-shadow: 
	// 2px 2px 0px var(--btn-focus-color), -2px -2px 0px var(--btn-focus-color),
	// -2px 2px 0px var(--btn-focus-color), 2px -2px 0px var(--btn-focus-color);

	outline: 2px solid var(--btn-focus-color);
	outline-offset: 0px;

	&::-moz-focus-inner {
		border: none;
	}
}
