/**
 * src/css/print.scss
 *
 * Print stylesheet
 *
 * @author Johannes Braun <j.braun@agentur-halma.de>
 * @package uws
 * versin 2022-09-19
 */
video { 
	display: none
}

a[href^=http]::after {
	content: attr('href');
}
