/**
 * src/css/partials/styleguide.scss
 *
 * Styles specific to the KSS living styleguide
 * (https://uws.localhost/de/Styleguide)
 *
 * @author Johannes Braun <j.braun@agentur-halma.de>
 * @package uws
 * @version 2022-09-23
 */
@use "settings";

body#styleguide {

	// .brand {
	// 	height: 100%;
	// 	position: static;
	// 	padding: 0 var(--gutter);
	// }

	pre {
		display: block;
		overflow: scroll;
		max-width: 100%;
		white-space: pre-wrap;
	}

	code {
		display: inline-block;
		background-color: var(--light-grey);
		border: 1px solid var(--grey);
		padding: 0rem 0.5em;
		border-radius: 6px;
	}

	figure {
		overflow: hidden;
		border: 1px solid var(--grey);
		border-radius: 3px;

		> div {
			padding: 2rem;
		}
	}

	figcaption {
		background-color: #f0f0f0;
		border-top: 1px solid var(--grey);
		padding: 1rem;
	}

	summary {
		cursor: pointer;
	}
}

.styleguide-text {
	font-family: monospace;
	font-size: 18px;
	color: #404040;
	line-height: 1.25;
}

.styleguide-section {
	// border: 2px solid var(--light-grey);
	padding: 1rem 0;
}

.styleguide-modifiers {
	dt {
		font-weight: bold;
	}
	dd {
		margin-bottom: 1rem;
	}
}

hr {
	border-color: var(--light-grey);
	border-width: 1px;
	border-style: solid;
}
