/**
 * main.scss
 */

@import "settings";

/**
 * Libraries
 * Libraries do not produce any actual CSS code at all, they just provide
 * @mixins which can be used in components and partials
 */
@import "libhalma/libhalma";
@import "everylayout/everylayout";


/**
 * Partials: 
 * Partials are used for general purpose stylesnot regarding a specific
 * component but more general styles, like f.e. typography, common layout,
 * global styles, header, footer etc. ...
 */
@import "partials/reset";
@import "partials/common";
@import "partials/typography";


/**
 * Components:
 * Components are encapsulated objects that can stand-alone,
 * BEM-Syntax prefereed
 */
@import "components/media-object.scss";
@import "components/icon";
@import "components/nav";
@import "components/header";
@import "components/footer";

button {
	display: inline-flex;
	align-items: center;

	.icon {
		width: 1rem;
	}
}
