/**
 * _settings.scss
 *
 * Use Sass variables and custom properties as appropriate, both are possible
 */

/**********
 * Colors *
 **********/
$background-color: whitesmoke;
$primary-color: purple; //mediumturquoise;
$accent-color: hotpink;
$text-color: #303030;
 // "Text-on-dark", invert from text color
$contrast-color: color-for-bg($primary-color, $background-color, $text-color);


/************
 * Measures *
 ************/
$gutter: 1rem;
$header-height: 100px;
// $inner-bound-width: 42rem;
// $outer-bound-width: 72rem;
$border-radius: 0px !default;
$border-width: 1px !default;


/********************
 * Options/Switches *
 ********************/
$debug-base-line-grid: false;
$minimum-supported-screen-width: 320px;
$font-path: '/dist/fonts/';


///////////////////
//  Breakpoints  //
///////////////////
$tablet-portrait-breakpoint: 600px !default;
$tablet-landscape-breakpoint: 900px !default;
$desktop-breakpoint: 1200px !default;
$big-desktop-breakpoint: 1800px !default;
$huge-desktop-breakpoint: 2400px !default;
// ... extend as needed


/////////////////////////
//  Custom properties  //
/////////////////////////
:root {
	--gutter: 1rem;
	--vertical-unit: 1.5rem;
	--outer-bound: 2 * #{$gutter};
	--background-color: #{$background-color};
	--primary-color: #{$primary-color};
	--accent-color: #{$accent-color};
	--contrast-color: #{$contrast-color};
	--inner-bound-width: 42rem;
	--outer-bound-width: 72rem;
	--border-radius: 0px;
}
